Lab1/MouseTracker/.vs/MouseTracker/FileContentIndex/6963c420-07d8-4502-8712-16bb345e51ca.vsidx
Lab1/MouseTracker/.vs/MouseTracker/FileContentIndex/8183ca65-3f68-4be5-8ca6-b683c6e7454d.vsidx
Lab1/Queues/.vs/Queues/FileContentIndex/0bfa710d-7689-4726-a1f4-ecf5e6db6bec.vsidx
Lab1/Queues/.vs/Queues/FileContentIndex/122316d9-e571-474c-bdb5-b16ead500d60.vsidx
/Lab1/Concurrent Queues/.vs
/Lab1/Receiving_DataFromMSP430/.vs
/Lab1/ParsingDataFromMSP430/.vs
/Lab1/stateMachineTestingProgram/.vs
/Lab1/LiveGestureRecognition/.vs
/Lab1/SavingAccData_CSV/.vs
/FuelCell/.vs
/.vs/MECH_421_Labs/FileContentIndex
/.vs/MECH_421_Labs
*.idx
/Lab 3/Lab3-ThermistorInterface/Debug
/Lab 3/SavingThermistorData_CSV/.vs
